<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="evento" style="background-image: url('assets/images/evento.png'); height: 50vh; background-size: cover;
    background-position: center;"> 
      </div>
    <div class="ev">
      <div class="contenu">   
        <div class="p1">
            <h2>About Eventoo!</h2> 
            <p>Eventoo is an event digitalization platform, suitable for both in- <br>person
                 and hybrid events. Designed for corporate event <br> organizers, it ensures 
                 audience engagement, exhibitor/sponsor <br>satisfaction, and optimization 
                 of the digital experience through <br>various features and smart tools.</p>   
        </div>
        <div class="p2">
            <img src="assets/images/logo-eventoo.png" alt="">
        </div>
      </div>
      <div class="contenu1">   
        <div class="p11">
            <h2> Registration and Profile <br>Management Module</h2> 
            <p>Quick registration with configuration of information for each profile. <br>
            Primary information: First Name, Last Name, Phone Number, Email, Username, Country, City. <br>
            Additional information: Company Name / Institution, Position / Occupation, Website, Social
             Media Links, Department / Division, <br>Industry Sector, Workforce, Revenue…				 
        </p>   
        </div>
        <div class="p22">
            <!--<img src="assets/images/logo-eventoo.png" alt="">-->    
        </div>
      </div>
    </div>
</body>
</html>