<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="celebrate" style="background-image: url('assets/images/celecbratebackgr.jpg'); background-size: cover; background-position: center; height: 100vh;">
        
        <h1>BIGTECH</h1>
        <p>Bridges the gap between business  
            <br>
            and leisure tourism!</p>  
            <a class="bouton1">REGISTER</a>
    
</div>
<div class="contenu">
    <div class="p1">
        <h2>The Big Night</h2>  
        <p>1,000 guests, including 400 international guests, will take part in an exceptional evening of
            <br> high-level informal networking: Cocktail drinks, snacks, music and entertainment.</p>   
            
            <img src="assets/images/celecbrate2.jpg" alt="">
    </div>
    <div class="p2">
        <img src="assets/images/celebrate-jpg.webp" alt="">
        <h2>The Beach Party</h2>  
        <p>On June 30th, the beginning of summer in Tunisia, the weather will be sunny. We <br> will take you on a wonderful outing to
             the beaches of the “Coco Beach” peninsula in <br>Ghar El Melh, 40 KM from Tunis.
             You will spend an unforgettable day filled with <br>
              informal  networking, music, water activities, tasting…</p> 
    </div>       



</div>
</body>
</html>
