<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="jobfaire" style="background-image: url('assets/images/jobslider.jpg'); background-size: cover; background-position: center; height: 100vh;">
        <div class="ct">
            <span class="clash1"> &lt;Exhibition & Trade Center,Kram
            </span> <br>
                                   
           <span class="clash2">26-29 June 2024/&gt; </span>
          </div>
       <img src="assets/images/Job_fair.png"alt="" style="width:300px;height:280px;">
        
        <p>A Talent Recruiter </p>  
            <a class="bouton1">REGISTER</a>
            <a class="bouton2">EXHIBIT</a>
    
</div>
<div class="contenu">
    <div class="p1">
        <h2>About Job Fair</h2>  
        <p>
            The Job Fair aims to reshape recruitment by returning to its <br>core essence – the human factor.
             The job fair aims to create <br> meaningful connections between companies with human <br> resource needs
              across various sectors and a qualified network <br>of young talents, graduated students or future 
              graduates in <br>different specialties. The Job Fair is committed to addressing <br> the shortage of 
              suitable recruitment profiles for companies and <br> enabling young individuals to take stock of
               their skills and lay <br>the first milestone in their career.</p>   
            
    </div>
    <div class="p2">
        <img src="assets/images/jobfair1.png" alt="">
    </div>       



</div>
<div class="partie2">
    <div class="ct1" style="color: #50d6ae; font-size: 12px; letter-spacing: 1px; font-family: Poppins, sans-serif;font-weight: 600;
           font-style: italic; position: absolute;   margin-top: -1.2%;margin-left: 14%;">
                <span class="clash11"> &lt;recruiters_in_numbers/&gt; </span>
                 <!-- <span class="clash21"> /&gt; </span>  -->
            </div> 
    <h2>
        The Distribution of Recruiting Companies <br> by Industry Sector</h2>
        <div class="recrutement">
            <h2 class="titre">+18 Recruiting Company</h2>
            <div class="bar-progress" style="margin-top: 3%; margin-left: 26%;" #barProgress>
                <div class="progress 1 mb-2" style="width: 60%; height: 35px;">
                    <div class="progress-bar custom-bg-color" role="progressbar"
                         [style.width.%]="progressValue[0]" [attr.data-value]="progressValue[0]"
                         [attr.data-percentage-value]="progressValue[0]" style="background-color: #5472D2;">
                        <small class="vc_label"style="text-align: left;margin-left: 3%;">Digital & IT Companies</small>
                    </div>
                </div>
                <div class="progress 2 mb-2" style="width: 60%; height: 35px;">
                    <div class="progress-bar" role="progressbar"
                         [style.width.%]="progressValue[1]" [attr.data-value]="progressValue[1]"
                         [attr.data-percentage-value]="progressValue[1]" style="border-radius: 0;background-color: #00C1CF;">
                        <small class="vc_label" style="text-align: left;margin-left: 3%;">Banks & Insurrances</small>
                    </div>
                </div>
                <div class="progress 3 mb-2" style="width: 60%; height: 35px;">
                    <div class="progress-bar" role="progressbar"
                         [style.width.%]="progressValue[2]" [attr.data-value]="progressValue[2]"
                         [attr.data-percentage-value]="progressValue[2]" style="border-radius: 0; background-color: #FE6C61;">
                        <small class="vc_label"style="text-align: left;margin-left: 3%;">Audit and consulting firms</small>
                    </div>
                </div>
                <div class="progress 4 mb-2" style="width: 60%; height: 35px;">
                    <div class="progress-bar" role="progressbar"
                         [style.width.%]="progressValue[3]" [attr.data-value]="progressValue[3]"
                         [attr.data-percentage-value]="progressValue[3]" style="border-radius: 0 ;background-color: #75D69C;">
                        <small class="vc_label"style="text-align: left;margin-left: 3%;">Major industries</small>
                    </div>
                </div>
                <div class="progress 5 mb-2" style="width: 60%; height: 35px;">
                    <div class="progress-bar" role="progressbar"
                         [style.width.%]="progressValue[4]" [attr.data-value]="progressValue[4]"
                         [attr.data-percentage-value]="progressValue[4]" style="background-color: #F7BE68;border-radius: 0;">
                        <small class="vc_label"style="text-align: left;margin-left: 3%;">Multinationals</small>
                    </div>
                </div>
                <div class="progress 6 mb-2" style="width: 60%; height: 35px;">
                    <div class="progress-bar" role="progressbar"
                         [style.width.%]="progressValue[5]" [attr.data-value]="progressValue[5]"
                         [attr.data-percentage-value]="progressValue[5]" style="border-radius:0 ;background-color: #414141;">
                        <small class="vc_label"style="text-align: left;margin-left: 3%;">Other</small>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="contenu1">
    <div class="part1">
        <div class="ct1" style="color: #50d6ae; font-size: 12px; letter-spacing: 1px; font-family: Poppins, sans-serif;font-weight: 600;
        font-style: italic; position: absolute;   margin-top: 9%;margin-left: 13.5%;">
             <span class="clash11"> &lt;Job_fair_recruitement_workshops/&gt; </span>
              <!-- <span class="clash21"> /&gt; </span>  -->
         </div> 
        <h2>Recrutement Workshops</h2>
              
        <p>The recruitment workshop enables each of the recruiting <br> companies
             to make direct contact with candidates interested <br> in their vacancies,
              thereby deepening the connection between <br>the two parties, increasing 
              the chances of finding suitable <br>profiles for recruiters, and facilitating
               access to employability <br>for job seekers.</p>   
               <a class="bouton23">REGISTER NOW</a>
               <a class="bouton24">CHECK THE AGENDA</a>
               <div class="ct1" style="color: #50d6ae; font-size: 12px; letter-spacing: 1px; font-family: Poppins, sans-serif;font-weight: 600;
               font-style: italic; position: absolute;   margin-top: 23.7%;margin-left: 13.5%;">
                    <span class="clash11"> &lt;Job_fair_exhibition/&gt; </span>
                     <!-- <span class="clash21"> /&gt; </span>  -->
                </div> 
               <h2 class="titre2">Job Fair Exhibition</h2>
                          
               <p class="paragrahe2">
                The recruiting companies, each from their own stand, will <br>
                expose their entities to the job-seeking community, so that
                 the <br> Job Fair will be the creator of meaningful connections 
                 between <br>these two parties and the catalyst of employability.</p>  
                 <a class="bouton22">REGISTER NOW</a>
                 <a class="bouton21">CHECK THE AGENDA</a>
            
    </div>
    <div class="part2">
        <img src="assets/images/jobfair2.png" alt="">

        <img src="assets/images/jobfair3.png" alt="" class="img2">
    </div>       



</div>

</body>
</html>

