<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="africup" style="background-image: url('assets/images/afric.jpg'); background-size: cover; background-position: center; height: 100vh;">
        <div class="ct">
            <span class="clash1"> &lt;Exhibition & Trade Center,Kram
            </span> <br>
                                   
           <span class="clash2">26-29 June 2024/&gt; </span>
          </div>       
        <p>For Startups </p>  
            <a class="bouton1">REGISTER AS A STRATUP</a>
            <a class="bouton2">REGISTER AS AN INVESTOR</a>
</div>
<div class="contenu">
    <div class="p1">
        <h2>About Job Fair</h2>  
        <p>
            afric’up garnered african recognition as one of the most impactful events in the <br>entrepreneurial
            landscape, it is focused on fostering innovation, nurturing startups and empowering youth entrepreneurship
             by connecting them with international investors,CEOs and key stakeholders within both african and global 
              ecosystems. <br>This gathering aims to cultivate opportunities, facilitate support,  encourage exchange, drive
               innovation and propel the emergence of a dynamic new <br>generation of African entrepreneurs.</p>   
    </div>
    <div class="p2">
        <iframe width="510" height="300" src="https://www.youtube.com/embed/W61HiLeYeGA" title="Recap afric&#39;Up 2019"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
         referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>       
</div>
</body>
</html>