<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="developer" style="background-image: url('assets/images/backgrounddeveloperdays.jpg'); background-size: cover; background-position: center; height: 100vh;">
       <div class="ct">
         <span class="clash1"> < Exhibition and International Trade Center,
         </span> <br>
            					
        <span class="clash2">Tunis, June, 26-29 2024 /> </span>
       </div>
        <img src="assets/images/logodevelloperdays.png" alt="">   
</div>
<div class="contenu">
    <div class="p1">
        <div class="ct1" style="color: #50d6ae; font-size: 11px; letter-spacing: 1.5px; font-family: Poppins, sans-serif;
               font-style: italic; position: absolute;   margin-top: 3%;margin-left: 10%;">
                <span class="clash11"> &lt;The_Dev_Experience/&gt; </span>
                 <!-- <span class="clash21"> /&gt; </span>  -->
            </div> 
        <h2>
            The Annual Gathering of <br>African Developers and <br> Engineers!</h2>    
        <p>
            Developer Days is dedicated to the community of Tunisian and African <br> developers,
             programmers, engineers, and software architects. It <br>focuses on innovative projects,
              learning opportunities, career <br>development, and networking with technology providers,
               training <br>professionals, certification experts, and employment opportunities in <br>various 
               fields: full-stack development, API, microservices, DevOps, <br>cybersecurity, cloud computing,
                artificial intelligence, automation,<br> metaverse, gaming, and more.</p>   
    </div>
    <div class="p2">
        <img src="assets/images/contenudeve.png" alt="">
    </div>       

</div>
<div class="contenu1">
    <div class="part1" >
        <div class="ct1" style="color: #50d6ae; font-size: 11px; letter-spacing: 1.5px; font-family: Poppins, sans-serif;
               font-style: italic; position: absolute;   margin-top: -1.5%;margin-left: 10%;">
                <span class="clash11"> &lt;workshops/&gt; </span>
                 <!-- <span class="clash21"> /&gt; </span>  -->
            </div> 
        <h2>DD-Workshops</h2> 
               
        <p>Experts will lead insightful workshops on selected themes
             aligned with <br>the needs of the community of developers and
              engineers in training <br>and career development.</p>   

              <a href="" class="bouton">REGISTER NOW!</a>
    </div>
</div>
<div class="contenu2">
    
    <div class="ct1" style="color: #50d6ae; font-size: 11px; letter-spacing: 1.5px; font-family: Poppins, sans-serif;
               font-style: italic; position: absolute;   margin-top: -5%;margin-left: 10%;">
                <span class="clash11"> &lt;The_Wire_Experience/&gt; </span>
                 <!-- <span class="clash21"> /&gt; </span>  -->
            </div> 
            <h2>Developer Days Exhibitor Profiles</h2>
           
            <img src="assets/images/contenuDevelopper-Days.png" alt="">
</div>
</body>
</html>

