<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="visit" style="background-image: url('assets/images/Elyssa.jpg'); background-size: cover; background-position: center; height: 55vh;">  
</div>
<div class="contenu">
    <div class="p1">
        <h2>Discover Tunisia!</h2>
              
        <p>
            BIGTECH, taking place at the Exhibition and International Trade <br> Center, Tunis,
             is blessed by the charm of its favored <br>geographical location that Elissa has 
             chosen for the <br>Carthaginian territory since the old century. Behind its business <br>
              vocation, BIGTECH is a great opportunity to discover the <br> gorgeous land of Tunisia
               and to explore its best natural,<br> gastronomic and cultural mysteries.</p>   
            
    </div>
    <div class="p2">
        <img src="assets/images/planyourvisit.webp" alt="">

    </div>       

    
</div>
<div class="contenu1">
    <div class="part1">
        <h2>Get Your Visa</h2>
        <a href="https://www.aeroportdetunis.com/fr/visa_tunisie.php" class="bouton">VISA PROCEDURES</a>
    </div>
    </div>

</body>
</html>
