<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="geec" style="background-image: url('assets/images/headergeec.jpg'); background-size: cover; background-position: center; height: 100vh;">
       <div class="ct">
         <span class="clash1"> < Exhibition and Trade Center,kram
         </span> <br>
            					
        <span class="clash2"> June, 26-29 2024 /> </span>
       </div>
        <img src="assets/images/logogeec.png" alt="">   
    </div>
    <div class="contenu">
        <div class="p1">
            <div class="ct1" style="color: #50d6ae; font-size: 11px; letter-spacing: 1px; font-family: Poppins, sans-serif;
            position: absolute;   margin-top: 2.5%;margin-left: 10%;">
                <span class="clash11"> &lt;The_Gaming_Experience/&gt; </span>
                 <!-- <span class="clash21"> /&gt; </span>  -->
            </div> 
            <h2>Geec, The 1st Edition</h2>    
            <p>
                Geec, launches its 1st edition bringing together video game <br> enthusiasts, industry professionals, start-ups and the
                 curious to <br>celebrate the culture of gaming and e-sports. With exciting <br> tournaments, inspiring conferences and networking opportunities,<br>
                 exhibitors can showcase their latest innovations, while attendees <br> discover the future of gaming.</p>   
        </div>
        <div class="p2">
            <img src="assets/images/POST12.png" alt="">
        </div>       


        <div class="image-grid">
            <div class="row">
                <div class="col">
                    <img src="assets/images/Graphique1.png" alt="">
                </div>
                <div class="col">
                    <img src="assets/images/Graphique2.png" alt="">

                </div>
                <div class="col">
                    <img src="assets/images/Graphique3.png" alt="">

                </div>
                <div class="col">
                    <img src="assets/images/Graphique4.png" alt="">
                </div>
            </div>
            <div class="contenu2" style="margin-top: 12%;margin-left: 12%;">
                <div class="geec1">
                    <div class="ct1" style="color: #50d6ae; font-size: 11px; letter-spacing: 1px; font-family: Poppins, sans-serif;">
                        <span class="clash11"> &lt;The_Gaming_Experience/&gt; </span>
                        <!-- <span class="clash21"> /&gt; </span> -->
                    </div>
                    <h2 class="title" style="color: #ffffff; font-family: Poppins, sans-serif; font-weight: 700; font-size: 35px;">
                        Geec Exhibitors Profiles
                    </h2>
                    <img src="assets/images/pagecontgeec.png" alt="" style="margin-left: 54%; margin-top: -15%;">
                </div>
            </div>
            <div class="contenu3" style="margin-top: 15%;margin-left: 12%;">
                <div class="geec1">
                    <div class="ct1" style="color: #50d6ae; font-size: 11px; letter-spacing: 1px; font-family: Poppins, sans-serif;">
                        <span class="clash11"> &lt;The_Gaming_Experience/&gt; </span>
                        <!-- <span class="clash21"> /&gt; </span> -->
                    </div>
                    <h2 class="title" style="color: #ffffff; font-family: Poppins, sans-serif; font-weight: 700; font-size: 35px;">
                        Geec Visitors Profiles
                    </h2>
                    <img src="assets/images/pagecont2geec.png" alt="" style="margin-left: 54%; margin-top: -15%;">
                </div>
            </div>
        <div class="contenu4" style="margin-top: 15%;margin-left: 12%;">
            <div class="geec1">
                <div class="ct1" style="color: #50d6ae; font-size: 11px; letter-spacing: 1px; font-family: Poppins, sans-serif;">
                    <span class="clash11"> &lt;The_Gaming_Experience/&gt; </span>
                    <!-- <span class="clash21"> /&gt; </span> -->
                </div>
                <h2 class="title" style="color: #ffffff; font-family: Poppins, sans-serif; font-weight: 700; font-size: 35px;">
                    Geec Participants' <br>
                     Expectations and Interests
                </h2>
                
                <div class="bar-progress" style="margin-top: 5%; margin-left: 15%;" #barProgress>
                    <div class="progress 1 mb-2" style="width: 60%; height: 35px;">
                        <div class="progress-bar custom-bg-color" role="progressbar"
                             [style.width.%]="progressValue[0]" [attr.data-value]="progressValue[0]"
                             [attr.data-percentage-value]="progressValue[0]">
                            <small class="vc_label"style="text-align: left;margin-left: 3%;">Networking &amp; Business Opportunities</small>
                    </div>
                    </div>
                    <div class="progress 2 mb-2" style="width: 60%; height: 35px;">
                        <div class="progress-bar" role="progressbar"
                             [style.width.%]="progressValue[1]" [attr.data-value]="progressValue[1]"
                             [attr.data-percentage-value]="progressValue[1]" style="border-radius: 0;background-color: #5472D2;">
                            <small class="vc_label"style="text-align: left;margin-left: 3%;">Development &amp; Financing</small>
                        </div>
                    </div>
                    <div class="progress 3 mb-2" style="width: 60%; height: 35px;">
                        <div class="progress-bar" role="progressbar"
                             [style.width.%]="progressValue[2]" [attr.data-value]="progressValue[2]"
                             [attr.data-percentage-value]="progressValue[2]" style="border-radius: 0; background-color: #00C1CF;">
                            <small class="vc_label"style="text-align: left;margin-left: 3%;">Startup Promotion</small>
                        </div>
                    </div>
                    <div class="progress 4 mb-2" style="width: 60%; height: 35px;">
                        <div class="progress-bar" role="progressbar"
                             [style.width.%]="progressValue[3]" [attr.data-value]="progressValue[3]"
                             [attr.data-percentage-value]="progressValue[3]" style="border-radius: 0 ;background-color: #8D6DC4;">
                            <small class="vc_label"style="text-align: left;margin-left: 3%;">Identifying Promising Projects</small>
                        </div>
                    </div>
                    <div class="progress 5 mb-2" style="width: 60%; height: 35px;">
                        <div class="progress-bar" role="progressbar"
                             [style.width.%]="progressValue[4]" [attr.data-value]="progressValue[4]"
                             [attr.data-percentage-value]="progressValue[4]" style="background-color: #FE6C61;border-radius: 0;">
                            <small class="vc_label"style="text-align: left;margin-left: 3%;">Gaming Careers</small>
                        </div>
                    </div>
                    <div class="progress 6 mb-2" style="width: 60%; height: 35px;">
                        <div class="progress-bar" role="progressbar"
                             [style.width.%]="progressValue[5]" [attr.data-value]="progressValue[5]"
                             [attr.data-percentage-value]="progressValue[5]" style="border-radius:0 ;background-color: #FE6C61;">
                            <small class="vc_label"style="text-align: left;margin-left: 3%;">Players feedback</small>
                        </div>
                    </div>
                    <div class="progress 7 mb-2" style="width: 60%; height: 35px;">
                        <div class="progress-bar" role="progressbar"
                             [style.width.%]="progressValue[6]" [attr.data-value]="progressValue[6]"
                             [attr.data-percentage-value]="progressValue[6]" style="border-radius: 0; background-color: #50485B;">
                            <small class="vc_label"style="text-align: left;margin-left: 3%;">Competition &amp; Tournaments</small>
                        </div>
                    </div>
                    <div class="progress 8 mb-2" style="width: 60%; height: 35px;">
                        <div class="progress-bar" role="progressbar"
                             [style.width.%]="progressValue[7]" [attr.data-value]="progressValue[7]"
                             [attr.data-percentage-value]="progressValue[7]" style="border-radius: 0; background-color: #2A2A2A;">
                            <small class="vc_label" style="text-align: left;margin-left: 3%;">Sharing of Expertise</small>
                        </div>
                    </div>
                </div>
                      
        </div>
            
        </div> 
    </div>
        </div>
   
</body>
</html>

